footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #AC7D23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

footer a {
    text-decoration: none;
    color: #000;
}
