footer {
    /*
    ~~~~ sticky footer below ~~~~
    bottom: 0;
    position: absolute;
    width: 100%;
    */
    background-color: #C38D28;
    border-top: #171714 solid 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

footer a {
    text-decoration: none;
    color: #000;
}
